body{
    text-align: center;
    color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    align-items: center;
    
}

section{
    display: block;
    align-items: center;
    flex-direction: column;
    background-color: darkblue;
}

footer{
    color: blueviolet;
}